@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* General settings*/

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: top center;
} /*Body section settings*/

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0, 0.6));
} /*Background settings*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
} /*Header section settings*/

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255 0.3); 
    border-radius: 20px 16px 20px 16px;
    border-bottom: 2px solid #DF8E00;
    border-top: 2px solid #DF8E00;
    border-left: 2px solid #DF8E00;
    border-right: 2px solid #DF8E00;

    color: #313131;
    font-size: 24px;
    font-weight: 300;
    transition: 0.2s ease-out;
} /*Search-box settings*/

header input:focus {
    background-color: rgba(255,255,255, 0.6);
} /*Search-box when clicked settings*/

main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} /*Main section settings*/

.location .city {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
} /*City displayed on screen settings */

.location .date {
    color: #FFF;
    font-size: 16px;
    margin-top: 30px;
} /*Date displayed on screen settings */

.current .temp {
    color: #FFF;
    font-weight: 900;
    font-size: 120px;
    margin: 15px 0px;
    text-shadow:  2px 6px rgba(0,0,0, 0.6);
} /*Principal temperature displayed on screen settings */

.current .temp span{
    font-weight: 500;
}

.current .weather {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 30px;
    text-shadow: 0px 3px rgba(0,0,0, 0.4);
} /*Weather displayed on search-box settings */

.current .hi-low {
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    text-shadow: rgba(0,0,0, 0.4);
} /*High-low temperature displayed on screen settings */